# Dependencies
**/node_modules/
.pnpm-store/

# Build and test output
dist
coverage
.cache
.expo

# Environment variables and local secrets
**/.env
**/.env.*
!**/.env.example

*.local
.DS_Store
apps/web/public/og.png
